[submodule "bs.c-auth"]
	path = bs.c-auth
	url = https://github.com/mohammaDJ23/bs.c-auth.git
[submodule "bs.c-bank"]
	path = bs.c-bank
	url = https://github.com/mohammaDJ23/bs.c-bank.git
[submodule "bs.c-chat"]
	path = bs.c-chat
	url = https://github.com/mohammaDJ23/bs.c-chat.git
[submodule "bs.c-container"]
	path = bs.c-container
	url = https://github.com/mohammaDJ23/bs.c-container.git
[submodule "bs.s-auth"]
	path = bs.s-auth
	url = https://github.com/mohammaDJ23/bs.s-auth.git
[submodule "bs.s-bank"]
	path = bs.s-bank
	url = https://github.com/mohammaDJ23/bs.s-bank.git
[submodule "bs.s-notification"]
	path = bs.s-notification
	url = https://github.com/mohammaDJ23/bs.s-notification.git
[submodule "bs.s-user"]
	path = bs.s-user
	url = https://github.com/mohammaDJ23/bs.s-user.git
